@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar_link {
    transition: 0.5s;
    font-family: "Montserrat", sans-serif;
}

.navbar_link:hover {
    border: 1px solid rgb(251, 170, 183);
}